<footer class="footer">
    <div class="footer__content">
  
      <!-- Marca -->
      <div class="footer__column footer__column--brand">
        <h2 class="footer__brand-name">Hogar360</h2>
        <p class="footer__brand-slogan">
          Tu partner en la búsqueda del <br> espacio perfecto.
        </p>
      </div>
  
      <!-- Acceso rápido -->
      <div class="footer__column">
        <h3 class="footer__column-title">Acceso rápido</h3>
        <ul class="footer__list">
          <li class="footer__item"><a href="#" class="footer__link">Buscar Propiedades</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Publica tu propiedad</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Property Management</a></li>
        </ul>
      </div>
  
      <!-- Contacto -->
      <div class="footer__column">
        <h3 class="footer__column-title">Contáctanos</h3>
        <ul class="footer__contact-list">
          <li class="footer__contact-item">
            <img src="assets/images/footer-icon/contacto.png" alt="Teléfono" class="footer__icon" />
            1-800-HOGAR360
          </li>
          <li class="footer__contact-item">
            <img src="assets/images/footer-icon/email.png" alt="Correo" class="footer__icon" />
            info&#64;hogar360.com
          </li>
          <li class="footer__contact-item">
            <img src="assets/images/footer-icon/ubicacion.png" alt="Dirección" class="footer__icon" />
            123 Real Estate Ave
          </li>
        </ul>
      </div>
  
      <!-- Redes sociales -->
      <div class="footer__column">
        <h3 class="footer__column-title">Síguenos</h3>
        <div class="footer__social-icons">
          <a href="#" class="footer__social-link">
            <img src="assets/images/footer-icon/facebook.png" alt="Facebook" class="footer__icon" />
          </a>
          <a href="#" class="footer__social-link">
            <img src="assets/images/footer-icon/twitter.png" alt="Twitter" class="footer__icon" />
          </a>
          <a href="#" class="footer__social-link">
            <img src="assets/images/footer-icon/instagram.png" alt="Instagram" class="footer__icon" />
          </a>
          <a href="#" class="footer__social-link">
            <img src="assets/images/footer-icon/linkedin.png" alt="LinkedIn" class="footer__icon" />
          </a>
        </div>
      </div>
  
    </div>
  
    <!-- Derechos reservados -->
    <div class="footer__bottom">
      <p class="footer__bottom-text">© 2025 Hogar360. All rights reserved.</p>
    </div>
  </footer>
