<div class="table-component">
  <table class="table-component__table">
    <thead class="table-component__table-head">
      <tr class="table-component__table-row">
        <th class="table-component__table-header">ID</th>
        <th 
          class="table-component__table-header" 
          *ngFor="let column of columns">
          {{ column.header }}
        </th>
      </tr>
    </thead>
    <tbody class="table-component__table-body">
      <tr 
        class="table-component__table-row" 
        *ngFor="let item of data; let i = index">
        <td class="table-component__table-cell">
          #CAT-{{ currentPage * pageSize + i + 1 }}
        </td>
        <td class="table-component__table-cell" *ngFor="let column of columns">
  <ng-container [ngSwitch]="column.field">
    <span *ngSwitchCase="'price'">
      {{ item[column.field] | currency:'COP':'symbol':'1.0-0' }}
    </span>
    <span *ngSwitchDefault>
      {{ item[column.field] }}
    </span>
  </ng-container>
</td>
      </tr>
    </tbody>
  </table>
</div>