.table-component {
  width: 100%;
  margin-top: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  border-radius: 10px;
  overflow-x: auto;

  &__table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
  }

  &__table-head {
    font-size: 12px;
    background-color: #f9fafb;
    color: rgba(107, 114, 128, 1);
  }

  &__table-row {
    border-bottom: 1px solid #dee2e6;
  }

  &__table-header {
    font-size: 12px;
    font-weight: 500;
    padding: 12px 15px;
    text-align: left;
  }

  &__table-body {
    background-color: #ffffff;
    font-size: 14px;
  }

  &__table-cell {
    padding: 12px 15px;
    color: rgba(31, 41, 55, 1);
    font-weight: 500;
  }
}