<div class="table-component">
  <table class="table-component__table">
    <thead class="table-component__table-head">
      <tr class="table-component__table-row">
        <th class="table-component__table-header">ID</th>
        <th 
          class="table-component__table-header" 
          *ngFor="let column of columns">
          {{ column.header }}
        </th>
        <th class="table-component__table-header">Acciones</th>
      </tr>
    </thead>
    <tbody class="table-component__table-body">
      <tr 
        class="table-component__table-row" 
        *ngFor="let item of data; let i = index">
        <td class="table-component__table-cell">
          #CAT-22500{{ currentPage * pageSize + i + 1 }}
        </td>
        <td 
          class="table-component__table-cell" 
          *ngFor="let column of columns">
          {{ item[column.field] }}
        </td>
        <td class="table-component__table-cell">
          <app-icon iconName="🗑️"></app-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>