<aside class="side-nav">
    <ul class="side-nav__list">
  
      <li class="side-nav__item side-nav__item--active">
        <img src="/assets/images/dashboard.png" class="side-nav__icon" />
        <span class="side-nav__link-text">Dashboard</span>
      </li>
  
      <li class="side-nav__item">
        <img src="/assets/images/etiqueta.png" class="side-nav__icon" />
        <span class="side-nav__link-text">Categorías</span>
      </li>
  
      <li class="side-nav__item">
        <img src="/assets/images/home.png" class="side-nav__icon" />
        <span class="side-nav__link-text">Propiedades</span>
      </li>
  
      <li class="side-nav__item">
        <img src="/assets/images/usuario.png" class="side-nav__icon" />
        <span class="side-nav__link-text">Usuarios</span>
      </li>
  
      <li class="side-nav__item">
        <img src="/assets/images/configuracion.png" class="side-nav__icon" />
        <span class="side-nav__link-text">Configuración</span>
      </li>
      
    </ul>
  </aside>
  