<aside class="side-nav">
  <ul class="side-nav__list">
    <li *ngFor="let item of items"
        class="side-nav__item"
        [routerLinkActive]="'side-nav__item--active'"
        [ngClass]="{ clickable: item.route }">
        
      <a *ngIf="item.route; else noLink" class="side-nav__link" [routerLink]="item.route">
        <img [src]="item.iconPath" class="side-nav__icon" />
        <span class="side-nav__link-text">{{ item.label }}</span>
      </a>

      <ng-template #noLink>
        <div class="side-nav__link">
          <img [src]="item.iconPath" class="side-nav__icon" />
          <span class="side-nav__link-text">{{ item.label }}</span>
        </div>
      </ng-template>

    </li>
  </ul>
</aside>