.side-nav {
    width: 255px; /* Ejemplo de ancho */
    height: 99%;
    margin: 10px auto 0px auto;
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    border: 1px solid rgba(229, 231, 235, 1);
  
   
  
    &__list {
      position: absolute;
      height: 212px;
      width: 231px;
      list-style: none;
      padding: 0;
      margin: 25px auto;
    }
  
    &__item {
      height: 36px;
      width: 231px;
      color: rgba(75, 85, 99, 1);
      border-radius: 6px;
      display: flex; /* Para alinear el icono y el texto */
      align-items: center; 
      line-height: 36px;
      cursor: pointer;
      margin-left: 10px;
  
      &--active {
        color: rgba(37, 99, 235, 1); 
        background: rgba(239, 246, 255, 1);
      }
      
    }

    &__link{
      text-decoration: none;
      color: inherit;

    &:active {
       color: inherit;
    }
  
    }
  
    &__icon {
      margin-left: 10px;
    }
  
    &__link-text {
      font-size: 14px;
      padding-left: 12px;
    }
  }